{% extends "index.html" %}
{% block head %}
<title>Главная</title>
{% endblock %}
{% block body %}
<div class="contentContainer">
<ul class="tilesWrap">
  <li>
    <h2>01</h2>
    <h3>Голова</h3>
    <p>
      Исследования черепа, придаточных пазух носа, нижней челючти, зубов и т.д.
    </p>
    <button onclick="window.location.href = '/head';">Click Here</button>
  </li>
  <li>
    <h2>02</h2>
    <h3>Позвоночник</h3>
    <p>
      Исследования шейного, грудного, поясничного отдела позвоночника
    </p>
    <button>Подробнее</button>
  </li>
  <li>
    <h2>03</h2>
    <h3>Конечности</h3>
    <p>
      Исследования элементов верхней и нижней конечности
    </p>
    <button>Подробнее</button>
  </li>
  <li>
    <h2>04</h2>
    <h3>Грудь</h3>
    <p>
      Исследования рёбер, грудины, лёгких, сердца
    </p>
    <button>Подробнее</button>
  </li>
    <li>
    <h2>05</h2>
    <h3>Живот</h3>
    <p>
      Исследования органов брюшной полосьти и забрюшинного пространства
    </p>
    <button>Подробнее</button>
  </li>
</ul>
</div>
{% endblock %}