<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index_cool.css') }}">
</head>
<body>
<div class="header">
  <h1>Атлас укладок при рентгенологических исследованиях</h1>
  <h2>А.Н.Кишковский, Л.А.Тютин, Г.Н.Есиновская</h2>
</div>
<ul class="tilesWrap">
  <li>
    <h2>01</h2>
    <h3>Голова</h3>
    <p>
      Исследования черепа, придаточных пазух носа, нижней челючти, зубов и т.д.
    </p>
    <button onclick="window.location.href = '/head';">Click Here</button>
  </li>
  <li>
    <h2>02</h2>
    <h3>Позвоночник</h3>
    <p>
      Исследования шейного, грудного, поясничного отдела позвоночника
    </p>
    <button>Подробнее</button>
  </li>
  <li>
    <h2>03</h2>
    <h3>Конечности</h3>
    <p>
      Исследования элементов верхней и нижней конечности
    </p>
    <button>Подробнее</button>
  </li>
  <li>
    <h2>04</h2>
    <h3>Грудь</h3>
    <p>
      Исследования рёбер, грудины, лёгких, сердца
    </p>
    <button>Подробнее</button>
  </li>
    <li>
    <h2>05</h2>
    <h3>Живот</h3>
    <p>
      Исследования органов брюшной полосьти и забрюшинного пространства
    </p>
    <button>Подробнее</button>
  </li>
</ul>
</body>
</html>